@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

$font-family-sans-serif: "DM Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-bg: $blue-900;
$body-color: $gray-100;

$link-color: $blue-300;
$link-hover-color: $blue-200;

$input-placeholder-color: $gray-400;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.default-navbar {
    @extend #{".navbar", ".navbar-expand-lg"}; 
    background-color: $indigo-800;

    *:visited {
        color: $body-color !important;
    }

    *:hover {
        color: $link-hover-color !important;
    }
}

.text {
    color: $gray-100;
}

#hero {
    background-color: $indigo-500;
}