html {
    background-color: #031b21;
    scroll-behavior: smooth;
}

.navbar, .navbar-burger, .navbar-menu {
    background-color: rgb(0, 0, 0) !important;
}

#cartwright-light-no-text {
    background: url(../img/cartwright-light-no-text.svg);
    background-size: cover;
    width: 125px;
}

#show {
    background: rgb(57,102,148);
    background: radial-gradient(circle, rgb(74, 125, 176) 0%, rgb(50, 147, 152) 100%);
}

#faq {
    background: rgb(201,81,188);
    background: radial-gradient(circle, rgba(201,81,188,1) 0%, rgba(255,100,133,1) 100%);
}

#about-us {
    background: rgb(201,81,188);
    background: radial-gradient(circle, rgba(201,81,188,1) 0%, rgba(255,100,133,1) 100%);
}

#eventbox {
    background: rgba(0, 0, 0, 0.5);
}